#image-container{
    height: 300px;
    width: 300px;
    margin: 50px;
}

#image-container img{
    height: 100%;
    width: 100%;
}

#image-container button{
    z-index: 2;
    border: none;
    padding: 3px;
    background-color: darkred;
    position: absolute;
    bottom: 100px;
    left: 30%;
    color: white;
    padding: 10px;
}

#form{
    height: 400px;
    width: 400px;
    border: 2px solid green;
    margin: 150px;
}